<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{url_for('static', filename='styles/style.css') }}">
    <meta charset="UTF-8" />
    <title>Hello, World!</title>
</head>
<body>
    <h1>Activate Transit Windsor Essex</h1>
    <p>Skip the City's 311 interface and use ours. We'll send it off for you.</p>
    <div class = "message-box">
        <form action="/submit" method="post">
            <h2> Tell us what went wrong </h3>
            <p id="acc">Is this an accessibility issue impacting a person with a disability?</p>
            <input type = "radio" name ="accessibility" id = "accessibility_y" value = "Yes">
            <label class = "container" for = "accessibility_y">Yes</label>
            <input type = "radio" name = "accessibility" id = "accessibility_n" value="No">
            <label class = "container" for = "accessibility_n">No</label><br><br>
            <label for = "route_num">Route Number:</label><br>
            <select name = "Route Number" id = "route_num">
                <option value=""> </option>
                <option value="115">115</option>
                <option value="305">305</option>
                <option value="418X">418X</option>
                <option value="518X">518X</option>
                <option value="605 (Amherstburg)">605 (Amherstburg)</option>
                <option value="Central 3">Central 3</option>
                <option value="Crosstown 2">Crosstown 2</option>
                <option value="Dougall 6">Dougall 6</option>
                <option value="25 (LaSalle)">25 (LaSalle)</option>
                <option value="Lauzon 10">Lauzon 10</option>
                <option value="LTW 42 (Leamington to Windsor)">LTW 42 (Leamington to Windsor)</option>
                <option value="Ottawa 4">Ottawa 4</option>
                <option value="Parent 14">Parent 14</option>
                <option value="South Windsor 7">South Windsor 7</option>
                <option value="Transway 1A">Transway 1A</option>
                <option value="Transway 1C">Transway 1C</option>
                <option value="Walkerville 8">Walkerville 8</option>
                <option value="School Extra">School Extra</option>
                <option value="Special Events">Special Events</option>
                <option value="Tunnel Bus">Tunnel Bus</option>
                <option value="Not Known">Not Known</option>
            </select><br>
            <label for = "complaint_type">Reason for Complaint:</label><br>
            <select name = "Complaint Type" id = "complaint_type"><br>
                <option value=""> </option>
                <option value="Bus Shelter/Stop Issue">Bus Shelter/Stop Issue</option>
                <option value="Driver">Driver</option>
                <option value="General">General</option>
                <option value="Passenger By-passed">Passenger By-passed</option>
                <option value="Route">Route</option>
                <option value="Schedule Adherence">Schedule Adherence</option>
                <option value="Scheduling">Scheduling</option>
                <option value="Transit Policy">Transit Policy</option>
                <option value="Tunnel Bus - Regular Service">Tunnel Bus - Regular Service</option>
                <option value="Tunnel Bus - Special Event">Tunnel Bus - Special Event</option>
            </select><br>
            <label for = "loc">Location (Intersection)</label><br>
            <input type = "text" id ="loc" name="loc"><br> 
            <label for = "stop_id">Stop ID: </label><br>
            <input type = "text" id = "stop_id" name="stop_id"> <br>
            <label for = "route_dir">Route Direction</label><br>
            <select name = "Route Direction" id="route_dir"><br>
                <option value = ""> </option>
                <option value="Northbound">Northbound</option>
                <option value="Southbound">Southbound</option>
                <option value="Eastbound">Eastbound</option>
                <option value="Westbound">Westbound</option>
            </select><br>
            <label for = "date">Date: </label></br>
            <input type = "date" id="date" name = "date"><br>
            <label for = "time">Time: </label><br>
            <input type = "time" id="time" name="time"><br><br>
            <label for = "first_name">First Name:</label><br>
            <input type = "text" id = "first_name" name = "first_name"><br>
            <label for = "last_name">Last Name:</label><br>
            <input type = "text" id = "last_name" name = "last_name"><br>
            <input type = "submit" value = "Submit">
        </div>
        </form>
    </body>
</html>
