body {
    font-family: Arial, sans-serif;
    background-color: #f3fefc;
    text-align: center;
    padding-top: 100px;
    color: #4e9c83;
}

h1 {
    color: black;
    font-size: 2.5rem;        
}    

h2
{
    text-align: center;
}

p {
    font-size: 1.2rem;
    color: black;
  }

.message-box    
{
    display: inline-block;
    text-align:left;
    padding: 40px;
    border-radius: 20px;
    background: #ffffff;
    color: #4e9c83;
    
}    

input[type=date],
input[type=time],
input[type=text]
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 4px solid #4e9c83;
    border-radius: 18px;
    border-color: #4e9c83;
    transition: all 0.5s ease;
}    



input[type=date]:focus,
input[type=time]:focus,
input[type=text]:focus
{
    outline: none;
    box-shadow: 0 0 10px #4e9c83;
    background-color: #fff;
}

input[type=date]:hover,
input[type=time]:hover,
input[type=text]:hover,
input[type=radio]:hover
{
    outline: none;
    box-shadow: 0 0 10px #4e9c83;
    background-color: #fff;
}

select
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 4px solid #4e9c83;
    border-radius: 18px;
    border-color: #4e9c83;
    transition: all 0.5s ease;
}

select:hover
{
    outline: none;
    box-shadow: 0 0 10px #4e9c83;
    background-color: #fff;
}
select:focus
{
    outline: none;
    box-shadow: 0 0 10px #4e9c83;
    background-color: #fff;
}

.container
{
    display: inline-block;
  
}    

input[type=button], input[type=submit] 
{
    background-color: #4e9c83;
    border-radius: 12px;
    width: 100%;
    border: none;
    color: white;
    padding: 16px 32px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }  


#acc{

    font-weight: bold; 
    color: #4e9c83;
}    

label 
{
    font-weight: bold;
    
}    

